<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
th:replace="~{admin/main-layout.html :: layout (~{::title}, ~{::#layout})}">
<head>
	<title>Quản lý loại sản phẩm</title>
</head>
<body>
	<section id="layout" ng-controller="categoryController">
		<div class="wizard-area">
			<div class="container">
				<div class="row header-filter-product header-action-product">
					<div class="filter-search col-md-6">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Tìm kiếm tên loại sản phẩm..." ng-model="searchTerm"> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="searchData()">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="action-product col-md-6">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#categoryModal">
							Thêm mới
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<table class="table table-striped">
							<thead>
								<tr class="table-bordered custom-border tr-thead">
									<th class="text-center">#</th>
									<th>Mã loại</th>
									<th>Tên thể loại</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in items">
								 <tr data-toggle="collapse" data-target="#{{$index + 1}}" class="tr-title-product" ng-click="Edit(item.id)">
									<td class="text-center">{{$index + 1}}</td>
									<td>{{item.id}}</td>
									<td>{{item.name}}</td>
								</tr>
								<tr id="{{$index + 1}}" class="collapse">
									<td colspan="12" class="product-info border-1">
										<h4>Thông tin loại sản phẩm</h4>
										<form>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group mt-3">
														<label for="id" class="fw-bold">Mã loại</label> 
														<input type="text" class="form-control border-bottom"
																id="id" ng-model="form.id" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group mt-3">
														<label for="fullname" class="fw-bold">Tên thể loại</label> 
														<input type="text" class="form-control border-bottom"
																id="name" ng-model="form.name" required>
													</div>
												</div>
												<div class="col-md-12 text-right mt-5">
													<div class="btn-group ib-btn-gp active-hook nk-email-inbox">

														<button class="btn btn-primary notika-btn-primary waves-effect" ng-click="Update(item.id)"><i class="fa fa-save"></i> Lưu</button>
						                                <button class="btn btn-danger notika-btn-danger waves-effect" ng-click="Delete(item.id)"><i class="fa fa-trash"></i> Xóa</button>
													</div>
												</div>
											</div>
										</form>
									</td>
								</tr>
								<!-- Thêm các dòng sản phẩm khác tương tự ở đây -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- The Modal -->
		<div class="modal fade" id="categoryModal">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Thêm loại sản phẩm</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
	
					<!-- Modal body -->
					<div class="modal-body">
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mt-3">
										<label for="categoryCode" class="fw-bold">Mã loại</label>
										<input type="text" class="form-control border-bottom" id="id" ng-model="form.id" name="id" placeholder="Nhập mã loại sản phẩm" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mt-3">
										<label for="categoryName" class="fw-bold">Tên thể loại</label>
										<input type="text" class="form-control border-bottom" id="name" ng-model="form.name" name="name" placeholder="Nhập tên loại sản phẩm" required>
									</div>
								</div>
							</div>
						</form>
					</div>
	
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="Create()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Lưu</button>
		                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Hủy</button>
					</div>
				</div>
			</div>
		</div>
	

	</section>
</html>