<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
th:replace="~{admin/main-layout.html :: layout (~{::title}, ~{::#layout})}">
<head>
	<title>Quản lý sản phẩm</title>
</head>
<body>
	<section id="layout">
		<div class="wizard-area">
			<div class="container">
				<div class="row header-filter-product header-action-product">
					<div class="filter-search col-md-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Tìm kiếm nhiều sản phẩm...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span
										class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</div>
					<div class="action-product col-md-6">
						<!-- Button to open the modal -->
						<!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#productModal">Thêm mới</button> -->
						<!-- Đối với submenu -->
						<div class="dropdown">
						  <button class="btn btn-success dropdown-toggle" type="button" id="submenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Thêm mới
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu submenu" aria-labelledby="submenuDropdown">
						     <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">Thêm sản phẩm</button></li>
						    <li><button type="button" class="btn btn-success" data-toggle="modal" data-target="#sizeModal">Tạo kích thước</button></li>
						    <li><button type="button" class="btn btn-info" data-toggle="modal" data-target="#materialModal">Thêm chất liệu</button></li>
						  </ul>
						</div>
						<button class="btn btn-success">Nhập kho</button>
						<button class="btn btn-success">Xuất file</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<table class="table table-striped">
							<thead>
								<tr class="table-bordered custom-border tr-thead">
									<th></th>
									<th>Mã Sản Phẩm</th>
									<th>Tên Sản Phẩm</th>
									<th>Giá Sản Phẩm</th>
									<th>Số Lượng (Trong Kho)</th>
									<th>Mô Tả</th>
								</tr>
							</thead>
							<tbody>
								<tr data-toggle="collapse" data-target="#product1" class="tr-title-product">
									<td><img src="" alt="Chưa có hình"></td>
									<td>SP001</td>
									<td>Sản phẩm 1</td>
									<td>100.000 đồng</td>
									<td>50</td>
									<td>Mô tả sản phẩm 122222</td>
								</tr>
								<tr id="product1" class="collapse">
									<td colspan="6" class="product-info border-1">
										<h4>Thông tin sản phẩm</h4>
										<form>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group"
														style="border: 1px solid rgb(221, 218, 218); height: 250px;">
														<div class="nk-int-st image-container">
															<img class="object-fit" id="product4" src="#"
																alt="Uploaded Image"
																style="display: none; max-height: 250px; width: 100%;">
														</div>
													</div>
												</div>
												<div class="col-md-8">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="productCode" class="fw-bold">Mã Sản
																	Phẩm (*)</label> <input type="text"
																	class="form-control border-bottom" id="productCode">
															</div>
															<div class="form-group mt-3">
																<label for="productName" class="fw-bold">Tên Sản
																	Phẩm</label> <input type="text"
																	class="form-control border-bottom" id="productName">
															</div>
															<div class="form-group mt-3">
																<label for="productPrice" class="fw-bold">Giá
																	Sản Phẩm</label> <input type="text"
																	class="form-control border-bottom"
																	id="productPrice">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="productQuantity" class="fw-bold">Số
																	Lượng</label> <input type="number" min="1" value="1"
																	class="form-control text-center border-bottom"
																	id="productQuantity"
																	placeholder="Số Lượng (Trong Kho)">
															</div>
															<div class="form-group mt-3">
																<label for="productDescription" class="fw-bold">Mô
																	Tả</label>
																<textarea class="form-control border-bottom" rows="3.5"
																	id="productDescription"></textarea>
															</div>
														</div>
													</div>
													<div class="form-group mt-3">
														<label for="fileInput" class="fw-bold">Chọn Hình</label>
														<div class="input-group">
															<input style="object-fit: contain;" type="file"
																class="form-control" id="fileInput"
																onchange="displayImageProduct(event, 'product4')">
														</div>
													</div>
												</div>
												<div class="col-md-12 text-right mt-5">
													<div class="btn-group ib-btn-gp active-hook nk-email-inbox">

														<button
															class="btn btn-primary notika-btn-primary waves-effect"><i
																class="fa fa-save"></i> Lưu</button>
														<button class="btn btn-danger notika-btn-danger waves-effect">
															<i class="fa fa-trash"></i> Xóa</button>
													</div>
												</div>
											</div>
										</form>
									</td>
								</tr>
								<tr data-toggle="collapse" data-target="#product2" class="tr-title-product">
									<td><img src="" alt="Chưa có hình"></td>
									<td>SP001</td>
									<td>Sản phẩm 1</td>
									<td>100.000 đồng</td>
									<td>50</td>
									<td>Mô tả sản phẩm 122222</td>
								</tr>
								<tr id="product2" class="collapse">
									<td colspan="6" class="product-info border-1">
										<h4>Thông tin sản phẩm</h4>
										<form>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group"
														style="border: 1px solid rgb(221, 218, 218); height: 250px;">
														<div class="nk-int-st image-container">
															<img class="object-fit" id="product3" src=""
																alt="Uploaded Image"
																style="display: none; max-height: 250px; width: 100%;">
														</div>
													</div>
												</div>
												<div class="col-md-8">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="productCode" class="fw-bold">Mã Sản
																	Phẩm (*)</label> <input type="text"
																	class="form-control border-bottom" id="productCode">
															</div>
															<div class="form-group mt-3">
																<label for="productName" class="fw-bold">Tên Sản
																	Phẩm</label> <input type="text"
																	class="form-control border-bottom" id="productName">
															</div>
															<div class="form-group mt-3">
																<label for="productPrice" class="fw-bold">Giá
																	Sản Phẩm</label> <input type="text"
																	class="form-control border-bottom"
																	id="productPrice">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="productQuantity" class="fw-bold">Số
																	Lượng</label> <input type="number" min="1" value="1"
																	class="form-control text-center border-bottom"
																	id="productQuantity"
																	placeholder="Số Lượng (Trong Kho)">
															</div>
															<div class="form-group mt-3">
																<label for="productDescription" class="fw-bold">Mô
																	Tả</label>
																<textarea class="form-control border-bottom" rows="3.5"
																	id="productDescription"></textarea>
															</div>
														</div>
													</div>
													<div class="form-group mt-3">
														<label for="fileInput" class="fw-bold">Chọn Hình</label>
														<div class="input-group">
															<input style="object-fit: contain;" type="file"
																class="form-control" id="fileInput"
																onchange="displayImageProduct(event,'product3')">
														</div>
													</div>
												</div>
												<div class="col-md-12 text-right mt-5">
													<div class="btn-group ib-btn-gp active-hook nk-email-inbox">
														<button class="btn btn-primary notika-btn-primary waves-effect">
															<i class="fa fa-save"></i> Lưu</button>
														<button class="btn btn-danger notika-btn-danger waves-effect">
															<i class="fa fa-trash"></i> Xóa</button>
													</div>
												</div>
											</div>
										</form>
									</td>
								</tr>
								<!-- Thêm các dòng sản phẩm khác tương tự ở đây -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script>
			function displayImageProduct(event, idImg) {
				var image = document.getElementById(idImg);
				image.src = URL.createObjectURL(event.target.files[0]);
				image.style.display = "block";
			}
		</script>
		<!-- The Modal thêm sản phẩm -->
		<div class="modal fade" id="productModal">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Thêm sản phẩm</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<form>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group"
										style="border: 1px solid rgb(221, 218, 218); height: 250px;">
										<div class="nk-int-st image-container">
											<img class="object-fit" id="imgProduct" src="#" alt="Uploaded Image"
												style="display: none; max-height: 250px; width: 100%;">
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="productCode" class="fw-bold">Mã Sản
													Phẩm (*)</label> <input type="text"
													class="form-control border-bottom" id="productCode">
											</div>
											<div class="form-group mt-3">
												<label for="productName" class="fw-bold">Tên Sản
													Phẩm</label> <input type="text" class="form-control border-bottom"
													id="productName">
											</div>
											<div class="form-group mt-3">
												<label for="productPrice" class="fw-bold">Giá
													Sản Phẩm</label> <input type="text"
													class="form-control border-bottom" id="productPrice">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="productQuantity" class="fw-bold">Số
													Lượng</label> <input type="number" min="1" value="1"
													class="form-control text-center border-bottom" id="productQuantity"
													placeholder="Số Lượng (Trong Kho)">
											</div>
											<div class="form-group mt-3">
												<label for="productDescription" class="fw-bold">Mô
													Tả</label>
												<textarea class="form-control border-bottom" rows="3.5"
													id="productDescription"></textarea>
											</div>
										</div>
									</div>
									<div class="form-group mt-3">
										<label for="fileInput" class="fw-bold">Chọn Hình</label>
										<div class="input-group">
											<input style="object-fit: contain;" type="file" class="form-control"
												id="fileInput" onchange="displayImageProduct(event, 'imgProduct')">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary "><i class="fa fa-save"></i> Thêm</button>
						<button type="button" class="btn btn-info"><i class="fa fa-rotate-right"></i> Làm mới</button>
					</div>
				</div>
			</div>
		</div>
	
		<!-- The Modal Tạo kích thước  -->
		<div class="modal fade" id="sizeModal">
		    <div class="modal-dialog modal-dialog-centered modal-md">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <h4 class="modal-title">Tạo kích thước</h4>
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		            </div>
		
		            <!-- Modal body -->
		            <div class="modal-body">
		                <form>
						    <div class="row">
						        <div class="col-md-4">
						            <div class="form-group">
						                <label for="width" class="fw-bold">Chiều rộng</label>
						                <input type="number" min="0" class="form-control border-bottom" id="width" placeholder="Nhập chiều rộng">
						            </div>
						        </div>
						        <div class="col-md-4">
						            <div class="form-group">
						                <label for="length" class="fw-bold">Chiều dài</label>
						                <input type="number" min="0" class="form-control border-bottom" id="length" placeholder="Nhập chiều dài">
						            </div>
						        </div>
						        <div class="col-md-4">
						            <div class="form-group">
						                <label for="height" class="fw-bold">Chiều cao</label>
						                <input type="number" min="0" class="form-control border-bottom" id="height" placeholder="Nhập chiều cao">
						            </div>
						        </div>
						    </div>
						</form>
		            </div>
		
		            <!-- Modal footer -->
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Lưu</button>
		                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Hủy</button>
		            </div>
		        </div>
		    </div>
		</div>
				
		<!-- The Modal Thêm chất liệu -->
		<div class="modal fade" id="materialModal">
		    <div class="modal-dialog modal-dialog-centered">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <h4 class="modal-title">Thêm chất liệu</h4>
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		            </div>
		
		            <!-- Modal body -->
		            <div class="modal-body">
		                <form>
		                    <div class="form-group">
		                        <label for="materialName" class="fw-bold">Chất liệu</label>
		                        <select class="form-control" id="materialName">
		                            <option value="Ceramic (51)">Ceramic (51)</option>
		                            <option value="Đá (14)">Đá (14)</option>
		                            <option value="Đá (263)">Đá (263)</option>
		                            <option value="Da và vải (9)">Da và vải (9)</option>
		                            <option value="Gỗ (564)">Gỗ (564)</option>
		                            <option value="Gỗ sồi (0)">Gỗ sồi (0)</option>
		                            <option value="Gốm (143)">Gốm (143)</option>
		                            <option value="Inox (0)">Inox (0)</option>
		                            <option value="Khung sắt tĩnh điện (0)">Khung sắt tĩnh điện (0)</option>
		                            <option value="Kim loại (483)">Kim loại (483)</option>
		                            <option value="Kính (168)">Kính (168)</option>
		                            <option value="MDF (12)">MDF (12)</option>
		                            <option value="MDF sơn (47)">MDF sơn (47)</option>
		                            <option value="MDF veneer (118)">MDF veneer (118)</option>
		                            <option value="Mở rộng nhiều chỗ (21)">Mở rộng nhiều chỗ (21)</option>
		                            <option value="Thủy tinh (213)">Thủy tinh (213)</option>
		                            <option value="Vải (466)">Vải (466)</option>
		                        </select>
		                    </div>
		                </form>
		            </div>
		
		            <!-- Modal footer -->
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Lưu</button>
		                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Hủy</button>
		            </div>
		        </div>
		    </div>
		</div>
		
	</section>
</body>


</html>