USE [master]
GO
/****** Object:  Database [QuanLi_NoiThat]    Script Date: 6/11/2023 9:55:14 PM ******/
CREATE DATABASE [QuanLi_NoiThat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLi_NoiThat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLi_NoiThat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLi_NoiThat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLi_NoiThat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLi_NoiThat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLi_NoiThat]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Image] [nvarchar](500) NULL,
	[Role] [bit] NOT NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account_id] [int] NOT NULL,
	[Bill_date] [datetime] NULL,
	[Total] [money] NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account_id] [int] NOT NULL,
	[Product_id] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [varchar](10) NOT NULL,
	[Categories_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details_Bill]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details_Bill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bill_id] [int] NOT NULL,
	[Product_id] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Details_Bill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discount_code] [nvarchar](50) NOT NULL,
	[Discount_percent] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Start_date] [datetime] NOT NULL,
	[End_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [varchar](10) NOT NULL,
	[Product_name] [nvarchar](100) NOT NULL,
	[Price] [money] NOT NULL,
	[In_stock] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Images] [nvarchar](500) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set_Categories]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set_Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_id] [varchar](10) NOT NULL,
	[Category_id] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Set_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set_Discounts]    Script Date: 6/11/2023 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set_Discounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_id] [varchar](10) NOT NULL,
	[Discount_id] [int] NOT NULL,
	[Quantity_used] [int] NULL,
 CONSTRAINT [PK_Set_Product_Discount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Username], [Fullname], [Password], [Email], [Phone], [Address], [Image], [Role], [Active]) VALUES (3, N'VanAnh100', N'Hồ Thị Vân Anh', N'ava', N'anhhtvpc02834@fpt.edu.vn', N'0335031622', N'Hậu Giang', N'5d451c5c0df9380c7afa57b3.jfif', 0, 1)
INSERT [dbo].[Accounts] ([Id], [Username], [Fullname], [Password], [Email], [Phone], [Address], [Image], [Role], [Active]) VALUES (4, N'Thucmin22', N'Nguyễn Minh Thức', N'ava', N'thucnmpc02975@fpt.edu.vn', N'0336785432', N'Kiên Giang', N'z3739484959822_e65a7ce15611702eda39a111513ce22f.jpg', 0, 1)
INSERT [dbo].[Accounts] ([Id], [Username], [Fullname], [Password], [Email], [Phone], [Address], [Image], [Role], [Active]) VALUES (5, N'Datmv23232', N'Mai Văn Đạt', N'ava11', N'datmvpc02991@fpt.edu.vn', N'0338900984', N'Sóc Trăng', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([Id], [Account_id], [Bill_date], [Total]) VALUES (7, 3, CAST(N'2021-10-31T19:30:45.000' AS DateTime), 14900000.0000)
INSERT [dbo].[Bills] ([Id], [Account_id], [Bill_date], [Total]) VALUES (8, 3, CAST(N'2022-10-31T19:30:45.000' AS DateTime), 910000.0000)
INSERT [dbo].[Bills] ([Id], [Account_id], [Bill_date], [Total]) VALUES (9, 3, CAST(N'2022-10-31T19:30:45.000' AS DateTime), 4500000.0000)
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [Account_id], [Product_id], [Quantity], [Price], [Status]) VALUES (10, 4, N'PD009', 1, 5500000.0000, 1)
INSERT [dbo].[Carts] ([Id], [Account_id], [Product_id], [Quantity], [Price], [Status]) VALUES (15, 4, N'PD007', 1, 31910000.0000, 0)
INSERT [dbo].[Carts] ([Id], [Account_id], [Product_id], [Quantity], [Price], [Status]) VALUES (18, 4, N'PD008', 2, 971150000.0000, 0)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
INSERT [dbo].[Categories] ([Id], [Categories_name]) VALUES (N'', N'')
INSERT [dbo].[Categories] ([Id], [Categories_name]) VALUES (N'BR001', N'Giường ngủ')
INSERT [dbo].[Categories] ([Id], [Categories_name]) VALUES (N'BR002', N'Bàn đầu giường')
GO
SET IDENTITY_INSERT [dbo].[Details_Bill] ON 

INSERT [dbo].[Details_Bill] ([Id], [Bill_id], [Product_id], [Quantity], [Price]) VALUES (12, 7, N'PD001', 1, 14900000.0000)
INSERT [dbo].[Details_Bill] ([Id], [Bill_id], [Product_id], [Quantity], [Price]) VALUES (13, 8, N'PD010', 1, 910000.0000)
INSERT [dbo].[Details_Bill] ([Id], [Bill_id], [Product_id], [Quantity], [Price]) VALUES (14, 9, N'PD015', 1, 4500000.0000)
SET IDENTITY_INSERT [dbo].[Details_Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([Id], [Discount_code], [Discount_percent], [Quantity], [Start_date], [End_date]) VALUES (1, N'kheaaaC47R', 10, 5, CAST(N'2023-05-11T00:00:00.000' AS DateTime), CAST(N'2023-06-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Discounts] ([Id], [Discount_code], [Discount_percent], [Quantity], [Start_date], [End_date]) VALUES (2, N'x01jtMYKaH', 15, 3, CAST(N'2023-05-11T00:00:00.000' AS DateTime), CAST(N'2023-06-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Discounts] ([Id], [Discount_code], [Discount_percent], [Quantity], [Start_date], [End_date]) VALUES (3, N'm3pC556rbe', 5, 10, CAST(N'2023-05-11T00:00:00.000' AS DateTime), CAST(N'2023-07-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
INSERT [dbo].[Products] ([Id], [Product_name], [Price], [In_stock], [Description], [Images]) VALUES (N'PD001', N'Giường Hộc Kéo Iris 1M6 Vải Belfast 41', 14900000.0000, 55, N'Giường Hộc Kéo Iris 1M6 Vải Belfast 41 với tông màu xám trang nhã giúp không gian phòng ngủ thêm phần sang trọng và hiện đại.', N'giuong-1.jpg')
INSERT [dbo].[Products] ([Id], [Product_name], [Price], [In_stock], [Description], [Images]) VALUES (N'PD002', N'Giường Hộc Kéo Iris 1M8 Vải Belfast 41', 15900000.0000, 55, N'Giường Hộc Kéo Iris 1M6 Vải Belfast 41 với tông màu xám trang nhã giúp không gian phòng ngủ thêm phần sang trọng và hiện đại.', N'giuong-2.jpg')
INSERT [dbo].[Products] ([Id], [Product_name], [Price], [In_stock], [Description], [Images]) VALUES (N'PD003', N'Giường hộc kéo Iris 1m6 Stone', 14900000.0000, 55, N'Giường hộc kéo Iris 1m6 với thiết kế đóng nút đầu giường, điểm đặc biệt là bốn ngăn chứa đồ rộng thuận tiện cất những vật dụng trong phòng ngủ như gối, mền, drap hết sức gọn gàng.', N'giuong-3.jpg')
GO
SET IDENTITY_INSERT [dbo].[Set_Categories] ON 

INSERT [dbo].[Set_Categories] ([Id], [Product_id], [Category_id]) VALUES (124, N'PD001', N'BR001')
INSERT [dbo].[Set_Categories] ([Id], [Product_id], [Category_id]) VALUES (125, N'PD002', N'BR001')
INSERT [dbo].[Set_Categories] ([Id], [Product_id], [Category_id]) VALUES (126, N'PD003', N'BR001')
GO
SET IDENTITY_INSERT [dbo].[Set_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Set_Discounts] ON 

INSERT [dbo].[Set_Discounts] ([Id], [Product_id], [Discount_id], [Quantity_used]) VALUES (1, N'PD001', 5, 2)
INSERT [dbo].[Set_Discounts] ([Id], [Product_id], [Discount_id], [Quantity_used]) VALUES (2, N'PD003', 5, 3)
INSERT [dbo].[Set_Discounts] ([Id], [Product_id], [Discount_id], [Quantity_used]) VALUES (3, N'PD001', 1, 2)
SET IDENTITY_INSERT [dbo].[Set_Discounts] OFF
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Accounts] FOREIGN KEY([Account_id])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Accounts]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Accounts] FOREIGN KEY([Account_id])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Accounts]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products]
GO
ALTER TABLE [dbo].[Details_Bill]  WITH CHECK ADD  CONSTRAINT [FK_Details_Bill_Bills] FOREIGN KEY([Bill_id])
REFERENCES [dbo].[Bills] ([Id])
GO
ALTER TABLE [dbo].[Details_Bill] CHECK CONSTRAINT [FK_Details_Bill_Bills]
GO
ALTER TABLE [dbo].[Details_Bill]  WITH CHECK ADD  CONSTRAINT [FK_Details_Bill_Products] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Details_Bill] CHECK CONSTRAINT [FK_Details_Bill_Products]
GO
ALTER TABLE [dbo].[Set_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Set_Categories_Categories] FOREIGN KEY([Category_id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Set_Categories] CHECK CONSTRAINT [FK_Set_Categories_Categories]
GO
ALTER TABLE [dbo].[Set_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Set_Categories_Products] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Set_Categories] CHECK CONSTRAINT [FK_Set_Categories_Products]
GO
ALTER TABLE [dbo].[Set_Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Set_Discounts_Discounts] FOREIGN KEY([Discount_id])
REFERENCES [dbo].[Discounts] ([Id])
GO
ALTER TABLE [dbo].[Set_Discounts] CHECK CONSTRAINT [FK_Set_Discounts_Discounts]
GO
ALTER TABLE [dbo].[Set_Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Set_Discounts_Products] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Set_Discounts] CHECK CONSTRAINT [FK_Set_Discounts_Products]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [chk_total] CHECK  (([total]>(0)))
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [chk_total]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [chk_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [chk_price]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [chk_quantity] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [chk_quantity]
GO
ALTER TABLE [dbo].[Details_Bill]  WITH CHECK ADD  CONSTRAINT [chk_price1] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Details_Bill] CHECK CONSTRAINT [chk_price1]
GO
ALTER TABLE [dbo].[Details_Bill]  WITH CHECK ADD  CONSTRAINT [chk_quantity1] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[Details_Bill] CHECK CONSTRAINT [chk_quantity1]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [chk_Instock] CHECK  (([in_stock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [chk_Instock]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [chk_Price3] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [chk_Price3]
GO
USE [master]
GO
