<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="content">
        <div class="wizard-area">
            <div class="container">
				<div class="row header-filter-product header-action-product">
					<div class="filter-search col-md-6">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Tìm kiếm nhiều loại sản phẩm..."> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="action-product col-md-6">
						<button class="btn btn-success">Thêm mới</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<table class="table table-striped">
							<thead>
								<tr class="table-bordered custom-border tr-thead">
                                    <th class="text-center">#</th>
                                    <th>ID</th>
                                    <th>Mã giảm giá</th>
                                    <th>Giảm giá (%)</th>
                                    <th>Số lượng</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
								</tr>
							</thead>
							<tbody>
								<tr data-toggle="collapse" data-target="#product1"
									class="tr-title-product">
									<td class="text-center">1</td>
                                    <td>ID001</td>
                                    <td>GHJIJBQWEQJWE1</td>
                                    <td>10%</td>
                                    <td>5</td>
                                    <td>2023-07-14</td>
                                    <td>2023-07-21</td>
								</tr>
								<tr id="product1" class="collapse">
									<td colspan="12" class="product-info border-1">
										<h4>Thông tin mã giảm giá</h4>
										<form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mt-3">
                                                        <label for="discountCode" class="fw-bold">Mã Giảm</label>
                                                        <input type="text" class="form-control border-bottom" id="discountCode">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mt-3">
                                                        <label for="startDate" class="fw-bold">Ngày bắt đầu hiệu lực</label>
                                                        <input type="date" class="form-control border-bottom" id="startDate">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mt-3">
                                                        <label for="quantity" class="fw-bold">Số Lượng</label>
                                                        <input type="number" min="1" value="1" class="form-control text-center border-bottom" id="quantity">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group mt-3">
                                                        <label for="endDate" class="fw-bold">Ngày kết thúc hiệu lực</label>
                                                        <input type="date" class="form-control border-bottom" id="endDate">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mt-3">
                                                        <label for="discountPercent" class="fw-bold">Giảm giá (%)</label>
                                                        <input type="text" class="form-control border-bottom" id="discountPercent">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-right mt-5">
                                                    <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                                                        <button class="btn btn-primary notika-btn-primary waves-effect">
                                                            <i class="fa fa-save"></i> Lưu
                                                        </button>
                                                        <button class="btn btn-info notika-btn-info waves-effect">
                                                            <i class="fa fa-rotate-right"></i> Làm mới
                                                        </button>
                                                        <button class="btn btn-danger notika-btn-danger waves-effect">
                                                            <i class="fa fa-trash"></i> Xóa
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        
									</td>
								</tr>
								<!-- Thêm các dòng sản phẩm khác tương tự ở đây -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
        </div>
    </th:block>
</body>

</html>