<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="content">
        <!-- Compose user area Start-->
        <div class="inbox-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="view-mail-list sm-res-mg-t-30">
                            <div class="view-mail-hd">
                                <div class="view-mail-hrd">
                                    <h2>Người dùng</h2>
                                </div>
                            </div>
                            <div class="cmp-int mg-t-20">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Họ và Tên</label>
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Họ và Tên">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Tên tài khoản</label>
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Tên tài khoản">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Mật Khẩu</label>
                                                <div class="nk-int-st">
                                                    <input type="password" class="form-control" placeholder="Mật Khẩu">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <div class="nk-int-st">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Số Điện Thoại</label>
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Số Điện Thoại">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Địa chỉ</label>
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control" placeholder="Địa chỉ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Vai trò:</label>
                                                <div class="nk-int-st">
                                                    <select class="form-control">
                                                        <option>Vai trò:</option>
                                                        <option>Admin</option>
                                                        <option>User</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Trạng thái:</label>
                                                <div class="nk-int-st">
                                                    <select class="form-control">
                                                        <option>Trạng thái:</option>
                                                        <option>Kích hoạt</option>
                                                        <option>Chưa kích hoạt</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Chọn Hình</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-file">
                                                            Browse <input type="file" id="fileInput"
                                                                onchange="displayImage(event)">
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="border: 1px solid black; height: 400px;">
                                                <div class="nk-int-st image-container">
                                                    <img id="uploadedImage" src="#" alt="Uploaded Image"
                                                        style="align-items: center;display: none; max-width: 100%; max-height: 400px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="vw-ml-action-ls text-right mg-t-20">
                                <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                                    <button class="btn btn-default btn-sm waves-effect"><i
                                            class="fas fa-save"></i>Lưu</button>
                                    <button class="btn btn-default btn-sm waves-effect"><i
                                            class="fas fa-rotate-right"></i> Làm mới</button>
                                    <button class="btn btn-default btn-sm waves-effect"><i
                                            class="fas fa-trash"></i> Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="normal-table-list mg-t-30">
                            <div class="basic-tb-hd">
                                <h2>Danh sách tài khoản người dùng</h2>
                            </div>
                            <div class="bsc-tbl-hvr">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên tài khoản</th>
                                            <th>Họ và tên</th>
                                            <th>Mật khẩu</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                            <th>Vai trò</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>taikhoan1</td>
                                            <td>Nguyễn Văn A</td>
                                            <td>mypassword1</td>
                                            <td>email1@example.com</td>
                                            <td>1234567890</td>
                                            <td>Địa chỉ 1</td>
                                            <td>Người dùng</td>
                                            <td>Hoạt động</td>
                                            <td>
                                                <button class="btn btn-info">Sửa</button>
                                                <button class="btn btn-danger">Xóa</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td>taikhoan1</td>
                                            <td>Nguyễn Văn A</td>
                                            <td>mypassword1</td>
                                            <td>email1@example.com</td>
                                            <td>1234567890</td>
                                            <td>Địa chỉ 1</td>
                                            <td>Quản lý</td>
                                            <td>Hoạt động</td>
                                            <td>
                                                <button class="btn btn-info">Sửa</button>
                                                <button class="btn btn-danger">Xóa</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sebastian</td>
                                            <td>Johnston</td>
                                            <td>@sebastian</td>
                                            <td>Jaycee</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Mitchell</td>
                                            <td>Christin</td>
                                            <td>@mitchell4u</td>
                                            <td>AdskiDeAnus</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Elizabeth</td>
                                            <td>Belkitt</td>
                                            <td>@belkitt</td>
                                            <td>Goat</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Benjamin</td>
                                            <td>Parnell</td>
                                            <td>@wayne234</td>
                                            <td>Pokie</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Katherine</td>
                                            <td>Buckland</td>
                                            <td>@anitabelle</td>
                                            <td>Wokie</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Nicholas</td>
                                            <td>Walmart</td>
                                            <td>@mwalmart</td>
                                            <td>Spike</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Compose user area End-->
    </th:block>
</body>

</html>