<!DOCTYPE html>

<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
	<title>Hồ sơ cá nhân</title>
</head>


<th:block id="layout">
	<section class="page-header" ng-controller="profileController">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">Tài Khoản</h1>
						<ol class="breadcrumb">
							<li><a href="admin/index">Trang Chủ</a></li>
							<li class="active">Tài Khoản</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<br>
			<br>
			<div class="row">
				<form id="myForm">
					
					<div class="col-lg-12">
						<div class="media-body">
							<div class="form-group">
								<label for="username">Tên tài khoản:</label>
								<input type="text" id="username" class="form-control" name="username" ng-model="accountData.username" ng-readonly="true"/>
								<small class="text-danger"></small>
							</div>
							<div class="form-group">
								<label for="fullname">Họ và tên:</label>
								<input type="text" id="fullname" class="form-control" name="fullname" ng-model="accountData.fullName" />
								<small class="text-danger"></small>
							</div>
							<div class="form-group">
								<label for="email">Email:</label>
								<input type="email" id="email" class="form-control" name="email" ng-model="accountData.email" />
								<small class="text-danger"></small>
							</div>
							<div class="form-group">
								<label for="phone">Số điện thoại:</label>
								<input type="text" id="phone" class="form-control" name="phone" ng-model="accountData.phone" />
								<small class="text-danger"></small>
							</div>
							<div class="form-group">
								<label for="address">Địa chỉ:</label>
								<input type="text" id="address" class="form-control" name="address" ng-model="accountData.address" />
							</div>
							<button ng-click="updateAccount()">Cập nhật tài khoản</button>
						</div>
					</div>
				</form>
				<!-- <h3>Bảng Điều Khiển</h3>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Order ID</th>
									<th>Date</th>
									<th>Items</th>
									<th>Total Price</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item: ${listBill}">
								<td th:text="${item[0]}"></td>
								<td th:text="${item[1]}"></td>
								<td th:text="${item[2]}"></td>
								<td th:text="${#numbers.formatDecimal(item[3], 0, 'COMMA', 0, 'POINT')}"></td>
								<td><a href="#" class="btn btn-default">View</a></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div> -->
			</div>
		</div>
		<script>
			const imageInput = document.getElementById('profile-image-input');
			const imagePreview = document.getElementById('profile-image-preview');
	
			imageInput.addEventListener('change', function() {
				const file = imageInput.files[0]; // Assuming you're selecting only one image
				if (file) {
					const reader = new FileReader();
					reader.onload = function(event) {
						imagePreview.src = event.target.result;
					};
					reader.readAsDataURL(file);
				} else {
					imagePreview.src = ''; // Clear the preview if no image is selected
				}
			});
		</script>
	</section>
</th:block>

</html>